@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap');
h1,h2,p,li {
    font-family: 'Roboto', sans-serif;
  }
/*tailles des images*/
.imgflex1 {
    width: 300px;
}
html, body {
    margin:0;
    padding:0;
}
/*emplacement loader*/

/*header*/
/*logo*/
header {
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    z-index: 10;
}
.img-logo{
    text-align: center;
    padding-top: 15px;
}
.img-logo>img{
    height: 30px;
    object-fit: cover;
}

/*section select*/
/*barre de recherche*/
.navsearch form{
    text-align: center;
    background-color: #DCDCDC;
    height: 40px;
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    margin-left: 40px;
    font-size: 15px;
    color: #414040;
}
.navsearch input {
    border: none;
    padding-left: 5px;
    padding-top: 13px;
    background-color: #DCDCDC;
}
.navsearch input::placeholder
{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #414040;
}


/*div présentation*/
.presentation {
    background-color: #EFEFEF;
    padding-bottom: 50px;
    display: block;
    justify-content: center;
    align-items: center;
}
.presentation h2{
    margin: 0px;
    margin-left: 35px;
    padding-top: 25px;
    text-align: center;
    font-size: 1.5em;
    width: 300px;
}
.presentation >p {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 35px;
    width: 300px;
}
/*bouton explorer*/
.text{
    border-radius: 25px;
    box-shadow: 4px 7px 4px #DCDCDC;
    text-align: center;
    font-size: 0.9em;
    color: floralwhite;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25%;
}
.text:hover{
    opacity: 0.7;
    box-shadow: 6px 9px 6px gray;
}
/*div fonctionnement*/
.fonctionnement{
    margin-bottom: 60px;
    display: contents;
    justify-content: center;
    align-items: center;
}
.fonctionnement h2 {
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 40px;
}
.fonctionnement ol{
    padding-left: 19px;
}
.fonctionnement li{
    margin-bottom: 25px;
    list-style-type: none;
    counter-increment: fx;
    position: relative;
}
.fonctionnement li::before{
    content: counter(fx); 
    background: #9356DC;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 6px;
    padding-top: 5px;
    border-radius: 50%;
	font-size: 0.9em;
    color: white;
    position: absolute;
    left: -10px;
    top:40%;
    transform: translateY(-20%);		
}
.fonctionnement li::marker {
    background-color: #9356DC;
}
.fonctionnement i{
    padding-right: 15px;
    padding-left: 15px;
    color: gray;
    font-size: 1.4em;
}

/*filtres fonctionnement*/
.filtre-choice{
    border-radius: 20px ;
    background-color: #EFEFEF;
    box-shadow: 5px 5px 5px #DCDCDC;
    padding: 20px;
    padding-right: 0px;
    margin-right: 20px;
    font-size: 0.9em;
}
.filtre-menu{
    border-radius: 20px ;
    background-color: #EFEFEF;
    box-shadow: 5px 5px 5px #DCDCDC;
    padding: 20px;
    padding-right: 0px;
    margin-right: 20px;
    font-size: 0.9em;
}
.filtre-degust{
    border-radius: 20px ;
    background-color:  #F4EBFB;
    box-shadow: 5px 5px 5px #DCDCDC;
    padding: 20px;
    padding-right: 0px;
    margin-right: 20px;
    font-size: 0.9em;
}
.fa-store:before {
    content: "\f54e";
    color: #9356DC;
}
/*section cartes/liste restaurants*/
.cartes {
    background-color: #EFEFEF;
    padding-top: 20px;
    padding-bottom: 30px;
}
.title-section-cartes{
    font-size: 1.5em;
    margin-left: 20px;
}
.container-cartes{
    list-style-type: none;
    display: contents;
    justify-content: center;
    align-items: center;
}
.flex {
    background-color: white;
    box-shadow: 3px 5px 3px #DCDCDC;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 335px;
}
.container-cartes a{
    text-decoration: none;
    color: black;
}
.imgflex1 
{
  height: 170px;
  width: 335px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

/*bandeau nouveau restaurant*/
.new{
    display: flex;
    position: absolute;
    background-color: #99E2D0;
    color:  #418e6c;
    font-size: 0.7em;
    margin: 10px;
    width: 80px;
    top: 0;
    right: 0;
}
.new h2{
    margin: 0px;
    padding: 7px;
    padding-left: 10px;
    font-size: 1.3em;
}
.img-new{
    display: flex;
}
.container-new{
    position: relative;
}

/* titres h2 et h3 section cartes*/
.container-bandeau{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.h_section_cartes{
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1em;
}
.subtitle_section_cartes{
    font-weight: lighter;
    padding-left: 10px;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
}
.love_section_cartes{
    width: 40px;
    padding-right: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*logos coeurs dans section cartes*/
.love-full {
    font-size: 1.7em;
    width: 45px;
    position: absolute;
    z-index: 30;
    opacity: 0;
}
.love-full >i{
    background-image: -moz-linear-gradient(90deg, #FF79DA 38%, #9356DC 100%);
    background-image: -webkit-linear-gradient(90deg, #FF79DA 38%, #9356DC 100%);
    background-image: linear-gradient(90deg, #FF79DA 38%, #9356DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.love-empty {
    font-size: 1.7em;
    width: 45px;
    position: absolute;
    z-index: 20;
}
.love-empty2{
    font-size: 1.7em;
    width: 45px;
}

/*footer*/
.container-footer {
    background-color: #414040;
} 
.logo {
    font-family: 'Shrikhand',cursive;
    font-weight: lighter;
    color: floralwhite;
    font-size: 1.3em;
    padding-left: 20px ;
    padding-top: 20px;
    margin-top: 0px;
}
.container-footer ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    padding-top: 0px;
    color: floralwhite;
    font-size: 0.9em;
}
.container-footer li{
    padding-bottom: 7px;
}
.fa-utensils:before {
    content: "\f2e7";
    padding-right: 10px;
}
.fa-hands-helping:before {
    content: "\f4c4";
    padding-right: 5px;
}
.contacts a{
    text-decoration: none;
    color: white;
}

/*pages des 4 menus: la palette du goût, délice des sens,
à la française, la note enchantée*/

.container-head{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*header fléche renvoi à la page d'accueil*/
.menu-return{
    display: flex;
    position: absolute;
    top: 20px;
    left: 15px;
}
.fa-arrow-left:before {
    content: "\f060";
    color: black;
    font-size: 1.2em;
}
/*section menus*/
.en-tete{
    position: absolute;
    width: 100%;
}
.imgflex2{
    height: 250px;
    width: 100%;
    object-fit: cover;
    
}  
.section-menus{
    background-color:  #EFEFEF;
    padding-bottom: 50px;
    position: relative;
    z-index: 10;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 210px;
}
.container-menu-titre{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titre-menu >h2{
    font-family: 'Shrikhand', cursive;
    font-size: 1.8em;
    margin-bottom: 10px;
}

/*div entrées*/
.entres >h2 {
    font-size: 1.1em;
    font-weight: 300;
    padding-left: 15px;
    margin-bottom: 3px;
}
.barre{
    height:4px;
    background-color:#99E2D0;
    width:40px;
    margin-left: 15px;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 45px;
}
.flexentres{
    background-color: white;
    list-style: none;
    border-radius: 15px;
    margin-bottom: 15px;
}
.container-entres{
    display: flex;
    padding-left: 10px;
}
.titles-start {
    min-width: 300px;
}
.titles-start >h2 {
    margin: 10px;
    margin-left: 0px;
    font-size: 1.2em;
    margin-bottom: 3px;
}
.titles-start >p{
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0;
    font-size: 1em;
    font-weight: 300;
}
.flex-price{
    display: flex;
    align-items: flex-end;
}
.flex-price >h3{
    margin: 10px;
    font-size: 0.9em;
}
/*div plats*/
.plats >h2 {
    font-size: 1.1em;
    font-weight: 300;
    padding-left: 15px;
    margin-bottom: 3px;
}
.flexplats{
    background-color: white;
    list-style: none;
    border-radius: 15px;
    margin-bottom: 15px;
}

/*div desserts*/
.desserts >h2 {
    font-size: 1.2em;
    font-weight: 300;
    padding-left: 15px;
    margin-bottom: 3px;
}
.flexdesserts{
    background-color: white;
    list-style: none;
    border-radius: 15px;
    margin-bottom: 15px;
}
/*bouton order*/
.text1{
    border-radius: 25px;
    box-shadow: 4px 7px 4px #DCDCDC;
    font-size: 1em;
    font-weight: 300;
    color: floralwhite;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    font-family:'Roboto', sans-serif;
    padding: 15px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
/* bouton order hover*/
.text1:hover{
    opacity: 0.7;
    box-shadow: 6px 9px 6px gray;
}

/* Animations CSS */
/* sauvegarde des menus avec bouton j'aime */

.love-full:hover{
    opacity: 1;
}
.love-full:hover ~ .love-empty {
    opacity: 0;
}

/*apparition du menu au fur et à mesure*/
.flexentres {
    animation: slidein 3s;
}
.flexplats{
    animation: slidein 3s;
}
.flexdesserts {
    animation: slidein 3s;
}
@keyframes slidein {                                             
    from {
        opacity: 0;
        margin-top: 12%;
    }
    to{
        opacity: 1;
        margin-top: 0%;
    }
}

/*apparition du check à gauche des vignettes de présentation des plats*/
.check {
    transform: rotate(0deg);
    transition: 1s;
}
a.button {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
}
a.button .carre-vert{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 80px;
    font-size: 1.8em;
    color: white;
    text-align: center;
    height: 100%;
    position: absolute;
    z-index: 10;
    right: -80px;
}
a.button:hover .carre-vert {
    right: 0;
    animation: slide 1s ease-out;
}
a.button:hover .carre-vert .check{
    transform: rotate(360deg);
}
a.button:hover .titles-start >p{
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover .titles-start >h2{
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
a.button:hover .flex-price {
    transform: translateX(-80px);
    white-space: nowrap;
}

@keyframes anim-rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes slide {
    from{
        opacity: 0.9;
        margin-right: -80px;
    }
    to {
        opacity: 1;
        margin-right: 0px;
    }
}
/*création loader*/
#loader{
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    animation: blanc 3s forwards;
}
.loader-centre {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loader h1  {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    transform: translateX(80px);
    
}
/*création cercle*/
.loader-circles {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-top-color: #99E2D0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.loader-circles:after {
    content: '';
    position: absolute;
    top: 5px; left: 5px; right: 5px; bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:  #FF79DA;
    opacity: 0.7;
    animation: spin 4s linear infinite;
}
.loader-circles:before{
    content: '';
    position: absolute;
    top: 12px; left: 12px; right: 12px; bottom: 12px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    opacity: 0.6;
    animation: spin 8s linear infinite;
}
/* petits points après titre*/
.loader-chargement:after {
    position: fixed;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; 
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }

/*anim apparition et disparition loader*/
@keyframes blanc {
    0% {
        opacity: 1;
        height: 100%;
        width: 100%;
    }
    70%{
        opacity: 1;
        height: 100%;
        width: 100%;
    }
    99%{
        opacity: 0;
        height: 100%;
        width: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
        width: 0%;
    }
}
    /*animation loader*/
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
/*responsive*/
/*tablet*/
@media (max-width:425px)
{
  .loader-centre {
    width: 100%;
    margin-left: 40px;
  }
}
@media all and (min-width: 768px)
{
    /*pages d'accueil*/
    .img-logo{
        text-align: left;
        margin-left: 30px;
        
    }
    .img-logo >img{
        height: 35px;
    }
    .navsearch form{
        height: 70px;
    }
    .navsearch input{
        padding-top: 30px;
    }
    .presentation h2 {
        width: 100%;
        margin-left: 0px;
        font-size: 1.5em;
    }
    .presentation >p{
        width: 100%;
        margin-left: 0px;
        font-size: 1em;
    }
    .text{
        width: 200px;
        font-size: 0.9em;
        padding: 15px;
        margin-left: 39%;
        
    }
    .fonctionnement h2 {
        margin-left: 6%;
    }
    .fonctionnement ol{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fonctionnement li {
        width: 300px;
    }
    .container-cartes {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        padding-left: 0px;
        margin-left: 0px;
    }
    .flex{
        margin-left: 10px;
        margin-right: 10px;
    }
    .title-section-cartes {
        margin-left: 6%;
    }
    .container-cartes >li{
        width: 340px;
    }
    .imgflex1 {
        width: 100%;
    }
    .container-footer li{
        display: inline-block;
        padding-right: 50px;
    }
    .container-footer ul{
        padding-left: 50px;
    }
    .logo {
        margin-left: 20px;
    }
    /*pages des menus*/
    .container-menu-titre {
        justify-content: space-between;
        width: 90%;
        margin-left: 40px;
    }
    .entres >h2{
        margin-left: 20%;
    }
    .barre{
        margin-left: 22%;
    }
    .container{
      display: flex; 
      flex-direction: column; 
      align-items: center;
    }
    .flexentres {
        width: 60%;
        margin-left: 50px;
    }
    .plats >h2{
        margin-left: 20%;
    }

    .flexplats {
        width: 60%;
        margin-left: 50px;
    }
    .desserts >h2{
        margin-left: 20%;
    }
    .flexdesserts {
        width: 60%;
        margin-left: 50px;
    }
    .titles-start{
        width: 390px;
    }
    .text1{
        margin-left: 40%;
    }
}

/* laptop 1440*/
@media (min-width: 1224px)
{
    header{
        box-shadow: none;
    }
    .img-logo{
        text-align: left;
        margin-left: 30px;
    }
    .img-logo >img{
        height: 45px;
    }
    .navsearch form{
        width: 50%;
        height: 50px;
        margin-left: 25%;
        border-radius: 15px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px gray;
    }
    .navsearch input{
        padding-top: 20px;
    }
    .presentation h2 {
        font-size: 2em;
    }
    .presentation >p{
        font-size: 1.3em;
    }
    .text{
        font-size: 1.1em;
        margin-left: 42%;
    }

    .fonctionnement h2{
        margin-left: 30px;
        font-size: 2.1em;
    }
    .fonctionnement ol{
        padding-left: 60px;
    }
    .fonctionnement li{
        display: inline-flex;
        margin-left: 60px;
        margin-right: 60px;
        width: 300px;
    }
    .title-section-cartes{
        margin-left: 30px;
        font-size: 2.1em;
    }
    .container-cartes {
        padding-left: 0px;
        display: inline-flex;
        flex-direction: inherit;
        flex-flow: inherit;
        width: 100%;
    }
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
    .container-footer ul{
        display: contents;
    }
    .container-footer li{
        padding-top: 35px;
    }
    .logo {
        font-size: 2.1em;
        margin-right: 50px;
        margin-left: 20px;
    }
    /*pages des menus*/
    .container-menu-titre{
        width: 95%;
    }
    .entres >h2{
        margin-left: 3%;
    }
    .barre{
        margin-left: 4%;
    }
    .plats >h2{
        margin-left: 3%;
    }
    .desserts >h2{
        margin-left: 3%;
    }
    .container{
        flex-direction: inherit;
        flex-wrap: wrap;
    }
    .flexentres{
        width: 400px;
        
    }
    .flexplats{
        width: 400px;
    }
    .flexdesserts {
        width: 400px;
    }
    .titles-start{
        width: 340px;
    }
}



